html,
body {
    height: 100%;
    margin: 0;
}

.container {
    display: flex;
    min-height: 100%;
}

.box {
    background-color: #EEEFF2;
    border-left: 10px dotted #D0D0FF;
    flex-shrink: 0;
    font-family: "Tahoma";
    font-size: 40px;
    width: 100px;
    height: 150px;
    margin: 5px;
    padding: 10px 0 0 10px;
}

.box:hover {
    background-color: yellow;
    color: red;
    cursor: pointer;
}

.F {
    bottom: 0px;
    position: absolute;
    right: 0px;
}